@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
  background offwhite

.photo-grid
  display flex
  flex-wrap wrap
  max-width 1200px
  margin 0 auto

.col-sm-5:nth-child(odd)
  clear both

.grid-figure
  flex-basis calc(33.333% - 4rem)
  flex-grow 1
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 2rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);
  position relative

.race-data
  max-width: 35%

.single-photo
  @extend .grid-figure
  max-width 900px
  margin 0 auto
  display flex
  background white
  flex-wrap wrap
  .grid-figure
    box-shadow none
    margin 0 2rem 0 0
    border 0
    padding 0
    flex 1 0 60%
    max-width 60%
  .comments
    flex 1 0 40%
    max-width 40%
  .grid-photo
    width 100%
    margin 0

.grid-photo
  width calc(100% + 4rem)
  margin-left -2rem
  margin-top -2rem
  max-width none

.form-group
  margin-bottom 0px;

.error
  margin-bottom 15px
  color darkred

label
  margin-top 10px

.submit-button
  margin-top 15px